* {
    --app-main-dark: #1b1d24;
    --app-main-dark1: #22252e;
    --app-main-light: #f0f0f0;
    --app-main-dark-green: #365a08;
    --app-main-light-green: #5d9d0b;
    --app-main-green: #72eb3a;

    --app-animation-time: 250ms;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--app-main-dark1) !important;
}

@media only screen and (max-width: 600px) {
    html, body {
        height: 100%;
        overflow-y: scroll;
    }
  }

.container {
    display: grid;
    place-items: center;
}

.container form {
    margin-top: -80px;
    padding: 20px;
    border-radius: 20px !important;
    background-color: var(--app-main-dark);
    border-radius: 50px;
}

.container form .form-group {
    margin: 20px 0;
}

.container form i {
    color: var(--app-main-dark-green);
    font-size: 100px;
}

.container form .icon-container h4 {
    color: var(--app-main-light);
}

.container form label {
    color: var(--app-main-light);
}

.container form input {
    background-color: var(--app-main-dark-green);
    border-radius: 0;
    color: var(--app-main-dark);
}

.container form input:focus {
    background-color: var(--app-main-dark-green);
}

.container form button {
    background-color: var(--app-main-light-green);
    border-radius: 0;
    color: var(--app-main-light);
    transition: background-color  var(--app-animation-time);
}

.container form button:hover {
    color: var(--app-main-light);
    background-color: var(--app-main-dark-green);
}

.modal-container {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header, .modal-footer {
    background-color: var(--app-main-light-green);
    padding: 10px 20px !important;
}

.modal-header i {
    font-size: 30px;
}

.modal-title {
    color: var(--app-main-light);
}

.modal-body {
    background-color: var(--app-main-dark);
}

.modal-container form {
    margin: 0;
    padding: 0;
}