<div class="container h-100">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="shadow-lg">
        <div class="icon-container text-center">
            <i class="bi bi-person-circle"></i>
            <h4>R-Cloud Login</h4>
            <h1 class="text-danger">aaaaSS{{invalidCredentials}}</h1>
        </div>
        <div class="form-group">
            <label for="userName">Username</label>
            <input class="form-control" type="text" formControlName="userName" />
            <!-- error -->
            <div class="text-danger" *ngIf="formSubmitted && getForm['userName'].errors?.['required']">
                Username required.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" formControlName="password" />
            <!-- error -->
            <div class="text-danger" *ngIf="formSubmitted && getForm['password'].errors?.['required']">
                Password required
            </div>
        </div>
        <div class="text-danger" *ngIf="invalidCredentials">
            Invalid credentials
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-block" type="submit">
                Login
            </button>
        </div>
    </form>
</div>