app-item-tools {
    width: 100%;
    margin-right: auto;
}

.nav-history, .items-container {
    background-color: var(--app-main-dark);
}

.nav-history {
    border-top: 1px solid var(--app-main-green);
}

.items-container {
    display: grid;
    height: 70vh;
    padding: 20px;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, 100px);
    grid-gap: 15px;
}

.items-container .select-item {
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color var(--app-animation-time);
}

.items-container .select-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.items-container .select-check i {
    color: var(--app-main-green);
}