.item-view-container {
    display: grid;
    grid-template-rows: auto minmax(50px, .5fr);
}

.icon-container i {
    font-size: 40px;
    color: var(--app-main-dark-green);
}

.item-view-container p {
    max-width: 100px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    color: var(--app-main-light);
}