<div class="container-fluid h-100">
    <div class="row image-container align-items-center h-100">
        <h1 class="home-title">The perfect<br>file hosting 4 u :)</h1>
    </div>
    <div class="row bg-alert h-75 align-items-center text-center p-3">
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="info-container shadow-lg p-3">
                <div class="info-icon-container">
                    <i class="bi bi-award"></i>
                </div>
                <div class="info-text-container">The perfect file hosting for you (just because I did it)</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="info-container shadow-lg p-3">
                <div class="info-icon-container">
                    <i class="bi bi-braces"></i>
                </div>
                <div class="info-text-container">Developed in the MEAN stack (MongoDB, Express, Angular, Node)</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-3">
            <div class="info-container shadow-lg p-3">
                <div class="info-icon-container">
                    <i class="bi bi-chat-right-text"></i>
                </div>
                <div class="info-text-container">Random text, I wanted to have 3 columns on the home page</div>
            </div>
        </div>
    </div>
</div>